
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products</title>
</head>
<body>
    <div>
        The available products are :
    </div>
    <div >
        <h3>Apple</h3>
        <h3>Samsung</h3>
        <h3>Nokia</h3>
    </div>
    <div> 
       
        @Html.ActionLink("Services", "Services", "Service")<br />
        

        @Html.ActionLink("HomePage", "Index", "Home")

    </div>
</body>
</html>
