
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Services</title>
</head>
<body>
    <div> 

        
        @Html.ActionLink("Products", "Products", "Product")<br />

        @Html.ActionLink("HomePage", "Index", "Home")
      
    </div>
</body>
</html>
